.contenedor-filtro {
	width: 100%;
	min-width: 850px;
	max-width: 950px;
	max-height: 500px;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 30px;
}

.card-filtro {
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	width: 300px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: rgba(255, 255, 255, 0.3);
	box-shadow: 0 3px 5px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	border-radius: 15px;
}

.columna-complementar-reporte {
	height: 450px;
	width: 450px;
	border-radius: 7px;
	background: linear-gradient(
		to bottom right,
		#f6f8fa,
		#f6f8fa,
		#f6f8fa,
		rgb(250, 255, 254)
	);
	box-shadow: 0 3px 5px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(20px);
	border: solid 1px #afafaa;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.titulo-reporte-filtro {
	color: #fff;
	background-color: #006e95;
	font-size: 16px;
	margin-bottom: 0px;
	width: 400px;
	border-radius: 7px;
	text-align: center;
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 5px;
}

.folio-fecha-filtro {
	margin-top: 25px;
	width: 400px;
	display: flex;
	justify-content: space-between;
}

.folio-fecha-filtro h4 {
	color: #006e95;
	font-size: 15px;
}

.columna-complementar-reporte textarea {
	width: 400px;
	height: 200px;
	margin-top: 25px;
	border: solid 1px #006e95;
	box-shadow: 0 3px 5px 0 rgba(31, 38, 135, 0.37);
	border-radius: 5px;
	color: #006e95;
	padding: 10px;
}

.columna-complementar-reporte textarea:focus {
	border-color: #035775;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 
	0 0 8px rgba(65, 12, 189, 0.6);
    outline: 0 none;
}

.guardar-cambios {
	margin-top: 30px;
	border-radius: 7px;
	color: #006e95;
	background-color: #f6f8fa;
	border: solid 1px 006e95;
	width: 200px;
	height: 50px;
	border: 1px solid #006e95;
}

.guardar-cambios:hover {
	border-radius: 7px;
	background-color: #006e95;
	color: #fff;
}

.card-title-filtro {
	cursor: pointer;
}

.card-title-filtro h5 {
	font-size: 14px;
	margin: 0;
	width: 298px;
	background-color: #006e95;
	color: #fff;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-top: 5px;
	border-radius: 7px;
	text-align: center;
}

.fecha-filtro {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.fecha-filtro p {
	font-size: 12px;
	margin: 0;
	margin-top: 5px;
	margin-bottom: 0;
}

.fecha-filtro h5 {
	color: #006e95;
	font-size: 14px;
	margin: 0px;
}

.opciones-filtro {
	display: flex;
	justify-content: space-between;
	width: 283px;
	align-items: center;
	margin-right: 8px;
	margin-left: 8px;
	margin-bottom: 8px;
}

.opciones-filtro p {
	font-size: 10px;
	width: 80px;
	height: 20px;
	padding-top: 3px;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}

.btn-ver-filtro,
.btn-comentar-filtro {
	margin-right: 5px;
	background-color: #26a2d9;
	color: #fff;
	border: solid 1px #26a2d9;
}

.btn-ver-filtro:hover,
.btn-comentar-filtro:hover {
	background-color: #0088f8;
	border: solid 1px #fff;
}

.boton-enviar {
	background-color: #f5d344;
	color: rgb(94, 92, 92);
	font-size: 10px;
	width: 80px;
	height: 20px;
	padding: 0;
	text-align: center;
	border-radius: 5px;
	border: solid 1px #f5d344;
	padding-top: 3px;
}

.boton-enviar:hover {
	background-color: #ffcc00;
}

#asignar label {
	margin: 0;
}

#enviar-datos {
	margin: 0;
}

#asignar {
	font-size: 10px;
	margin: 0;
}

.mensaje {
	visibility: hidden;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	backdrop-filter: blur(3px);
	background-color: rgba(77, 75, 75, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cerrar-mensaje {
	margin-left: 111%;
	margin-top: -3px;
	font-size: 15px;
	padding-top: 0.32rem;
	height: 30px;
	width: 30px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 5px 0 rgba(31, 38, 135, 0.37);
	color: #fff;
	border-radius: 100%;
	cursor: pointer;
}

.cerrar-mensaje:hover {
	background: #2e2e2e;
}

.img-mensaje {
	width: 30%;
}

.texto-mensaje {
	margin-top: 20px;
	color: #006e95;
	font-size: 18px;
}
