.container-login {
	display: flex;
	justify-content: center;
	height: 100vh;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

.titulo-pagina {
	margin-bottom: 50px;
	color: #006e95;
	font-size: 30px;
	max-width: 1200px;
}

.formulario-ingreso {
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 35px;
	background: #fff;
	box-shadow: 0 3px 10px 0 #4e4e4e;
	backdrop-filter: blur(20px);
	border: solid 1px #26a2d9;
	border-radius: 20px;
}

.logo-login {
	margin: 0px auto;
	height: 204px;
	width: 380px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin: 0;
}

#titulo-login {
	text-align: center;
	width: 380px;
	color: #006e95;
}

#email input,
#password input {
	border: 1px solid #006e95;
	border-radius: 15px;
}

.boton-ingreso {
	background-color: #f6f8fa;
	color: #006e95;
	border: 1px solid #006e95;
	border-radius: 15px;
}

.boton-ingreso:hover {
	background-color: #006e95;
	color: white;
	border-radius: 10px;
}
