.container {
	width: 100%;
	min-width: 800px;
	max-width: 900px;
	max-height: 500px;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

.titulo-proceso,
.titulo-pendiente {
	margin-bottom: 10px;
}

.titulo-proceso h3,
.titulo-pendiente h3 {
	margin: 0;
	text-align: center;
	font-size: 16px;
	color: #006e95;
}

.columna-pendiente,
.columna-proceso {
	width: 370px;
	height: 450px;
	border-radius: 7px;
	align-items: center;
	background: linear-gradient(
		to bottom right,
		#f6f8fa,
		#f6f8fa,
		#f6f8fa,
		rgb(250, 255, 254)
	);
	box-shadow: 0 3px 5px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(20px);
	border: solid 1px #afafaa;
	overflow: hidden;
	overflow-y: scroll;
}

.card {
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	width: 300px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: rgba(255, 255, 255, 0.3);
	box-shadow: 0 3px 5px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	border-radius: 15px;
	cursor: default;
	transition: all 400ms ease;
}

.card:hover {
	box-shadow: 0 3px 10px 0 rgba(31, 38, 135, 0.37);
	transform: translateY(-3%);
}

.card-body {
	padding: 8px;
	display: flex;
	justify-content: space-between;
	margin-left: 3px;
	margin-right: 3px;
	width: 290px;
}

.card-title {
	margin: 0;
}

/* Para los reportes pendientes */
.pendiente .card-title h5 {
	margin: 0;
	text-align: center;
	padding-top: 7px;
	width: 300px;
	height: 30px;
	font-size: 14px;
	background: #f07d6f;
	color: white;
	border-radius: 10px;
}

.pendiente .texto-medio h5,
.pendiente .fecha h5 {
	color: #f07d6f;
	font-size: 14px;
	margin: 0px;
}

/* Para los reportes proceso */
.proceso .card-title h5 {
	margin: 0;
	text-align: center;
	padding-top: 7px;
	width: 300px;
	height: 30px;
	font-size: 14px;
	background: #6cc5b2;
	color: white;
	border-radius: 10px;
}

.proceso .texto-medio h5,
.proceso .fecha h5 {
	color: #6cc5b2;
	font-size: 14px;
	margin: 0px;
}

.card-title,
.texto-medio {
	width: 180px;
	text-align: justify;
}

.card-body p,
.card-body h5 {
	margin-bottom: 2px;
}

.fecha {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.fecha p {
	font-size: 12px;
	margin: 0;
	margin-top: 5px;
	margin-bottom: 0;
}

.atiende {
	font-size: 12px;
	margin-top: 5px;
}

.departamento {
	width: 100%;
	font-size: 12px;
	margin-top: 3px;
}

.contenido-vacio-cliente {
	margin-top: 40%;
	margin-left: 28%;
	opacity: 0.8;
}
