.menu {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 10px;
	background: rgba(255, 255, 255, 0.3);
	box-shadow: 0 3px 3px 0 rgba(31, 38, 135, 0.37);
	border-radius: 15px;
}

.parte1,
.parte2 {
	display: flex;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
	background: #f6f8fa;
}

.parte2 {
	padding-bottom: 10px;
}

.parte1 {
	padding-top: 5px;
}

p {
	margin: 0;
}

.opciones button {
	width: 130px;
	border-radius: 10px;
	border-color: #f6f8fa;
	color: #006e95;
	background: #f6f8fa;
}

.opciones button:hover {
	width: 130px;
	border-radius: 10px;
	border-color: #006e95;
	background: #006e95;
	color: #fff;
}

#btn-cerrar {
	height: 30px;
	border-radius: 3px;
	background: #f6f8fa;
	border-color: #f6f8fa;
}

.opciones-busqueda {
	position: absolute;
	z-index: 3;
}
