.menu {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
}

.parte1,
.parte2 {
	display: flex;
	justify-content: space-between;
}

p {
	margin: 0;
}

.opciones button {
	width: 130px;
	border-radius: 10px;
	border-color: #006e95;
	color: #006e95;
}

.opciones button:hover {
	width: 130px;
	border-radius: 10px;
	border-color: #006e95;
	background-color: #006e95;
	color: #fff;
}

#btn-cerrar {
	height: 30px;
}
