.container-crear-incidencia {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.titulo-crear-reporte {
	margin-bottom: 20px;
	margin-top: 20px;
}

.titulo-crear-reporte h1 {
	font-size: 22px;
	color: #006e95;
}

#frm_incidencia {
	display: flex;
	justify-content: space-between;
	width: 1000px;
	height: 450px;
	align-items: center;
}

.parte1-formulario {
	width: 450px;
	margin-left: 30px;
}

.parte2-formulario {
	width: 380px;
	margin-right: 30px;
}

.parte1-formulario input,
.parte2-formulario input {
	border-radius: 10px;
}

.boton-guardar-incidencia {
	background-color: #f6f8fa;
	color: #006e95;
	border: 1px solid #006e95;
	border-radius: 15px;
}

.boton-guardar-incidencia:hover {
	background-color: #006e95;
	color: #fff;
}

#descripcion::-webkit-input-placeholder,
#titulo::-webkit-input-placeholder {
	text-align: center;
	line-height: 240px;
}

.file {
	display: flex;
	justify-content: center;
	border: dashed 2px #006e95;
	height: 200px;
	border-radius: 5px;
	align-items: center;
	flex-direction: column;
}

.file.active {
	background-color: #b8d4fe;
	color: #006e95;
}

.file h2,
.file span {
	font-size: 18px;
	color: #006e95;
}

.file span {
	margin-bottom: 8px;
}

.file input {
	display: none;
}

.file label {
	border: solid 1px #006e95;
	cursor: pointer;
	border-radius: 10px;
	background-color: #f6f8fa;
	color: #006e95;
	text-align: center;
	width: 180px;
	height: 25px;
}

.file label:hover {
	background-color: #006e95;
	color: #fff;
}

