.container-crear-incidencia {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.titulo-crear-reporte {
	margin-bottom: 20px;
	margin-top: 20px;
	margin-top: 30px;
}

.titulo-crear-reporte h1 {
	font-size: 22px;
	color: #006e95;
}

#frm_incidencia {
	display: flex;
	justify-content: space-between;
	width: 90%;
	max-width: 1000px;
	height: 450px;
	margin-top: 30px;
}

.parte1-formulario {
	width: 45%;
}

.parte2-formulario {
	width: 40%;
}

.parte1-formulario input,
.parte2-formulario input {
	border-radius: 10px;
}

.boton-guardar-incidencia {
	background-color: #f6f8fa;
	color: #006e95;
	border: 1px solid #006e95;
	border-radius: 15px;
}

.boton-guardar-incidencia:hover {
	background-color: #006e95;
	color: #fff;
}

#descripcion::-webkit-input-placeholder,
#titulo::-webkit-input-placeholder {
	text-align: center;
	line-height: 1500%;
}

.equipo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.equipo h3 {
	font-size: 16px;
	color: #006e95;
	text-align: center;
	margin-bottom: 10px;
}

#seleccion-equipo {
	padding-top: 3px;
	text-align: center;
	width: 100%;
	border-radius: 10px;
	height: 35px;
	color: #006e95;
	border: 1px solid #006e95;
}

#titulo {
	height: 35px;
	color: #006e95;
	text-align: center;
	border-radius: 10px;
}

#titulo input {
	padding-top: 6px;
	border: 1px solid #006e95;
}

#descripcion {
	color: #006e95;
	border-radius: 10px;
	margin: 0;
	padding-bottom: 0;
}

#descripcion textarea {
	border: 1px solid #006e95;
}

.file {
	display: flex;
	justify-content: center;
	border: solid 1px #006e95;
	height: 195px;
	border-radius: 5px;
	align-items: center;
	flex-direction: column;
}

.file h2,
.file span {
	font-size: 16px;
	color: #006e95;
}

.file span {
	margin-bottom: 8px;
}

.file input {
	display: none;
}

.file label {
	border: solid 1px #006e95;
	cursor: pointer;
	border-radius: 10px;
	background-color: #f6f8fa;
	color: #006e95;
	text-align: center;
	width: 180px;
	height: 25px;
	font-size: 14px;
	padding-top: 3px;
}

.file label:hover {
	background-color: #006e95;
	color: #fff;
}

.search_usuario {
    display: none;
    width: 423px;
    padding-left: 10px;
    height: 30px;
    border-radius: 10px;
    background-color: #f6f8fa;
    border: solid 1px #006e95;
	color: #006e95;
	position: relative;
}

.creador-reporte {
	font-size: 15px;
	color: #006e95;
	text-align: center;
	margin-bottom: 10px;
}

.opciones-usuarios-nueva-incidencia {
	display: none;
	width: 420px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.15);
	position: absolute;
	margin-left: 19px;
	margin-top: 1px;
	border-radius: 0.25rem;
	font-size: 14px;
	cursor: pointer;
}
.opciones-usuarios-nueva-incidencia p {
	color: #212529;
	height: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 12px;
	padding-right: 12px;	
}

.opciones-usuarios-nueva-incidencia p:hover {
	background-color: #006e95;
	color: #fff;	
}

#id_usuario {
	display: none;
}

input:focus {
	border-color: #035775;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 
	0 0 8px rgb(177, 194, 250);
    outline: 0 none;
}

select:focus {
	border-color: #035775;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 
	0 0 8px rgb(177, 194, 250);
    outline: 0 none;
}

.label-alguien-mas {
	font-size: 16px;
	color: #006e95;
}
