.container-tecnico {
	width: 100%;
	min-width: 850px;
	max-width: 950px;
	max-height: 500px;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 30px;
}

.columna-filtro{
    width: 285px;
	height: 450px;
	border-radius: 7px;
	align-items: center;
	background: linear-gradient(
		to bottom right,
		#f6f8fa,
		#f6f8fa,
		#f6f8fa,
		rgb(250, 255, 254)
	);
	box-shadow: 0 3px 5px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(20px);
	border: solid 1px #afafaa;
	overflow: hidden;
	overflow-y: scroll;
}

.card-tecnico {
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	width: 245px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: rgba(255, 255, 255, 0.3);
	box-shadow: 0 3px 5px 0 rgba(31, 38, 135, 0.37);
    border: solid 2px #eaf7ff;
	backdrop-filter: blur(4px);
	border-radius: 10px;
	cursor: pointer;
	transition: all 400ms ease;
}

.card-body-tecnico{
    padding: 8px;
	display: flex;
	justify-content: space-between;
	margin-left: 3px;
	margin-right: 3px;
	width: 235px;
}

.opciones-tecnico {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.opciones-tecnico button {
    cursor: pointer;
    font-size: 10px;
    width: 70px;
    padding: 0;
    padding-top: 0.2rem;
}

.opciones-tecnico .ver {
    margin-bottom: 5px;
}

.pendientes-filtro .fecha h5 {
	color: #f07d6f;
	font-size: 14px;
	margin: 0px;
}

.proceso-filtro .fecha h5 {
	color: #6CC5B2;
	font-size: 14px;
	margin: 0px;
}

.finalizados-filtro .fecha h5 {
	color: #F5D344;
	font-size: 14px;
	margin: 0px;
}

.pendientes-filtro .card-title h5 {
    margin: 0;
	text-align: center;
	padding-top: 8px;
	width: 241px;
	height: 30px;
	font-size: 12px;
	background: #f07d6f;
	color: white;
	border-radius: 10px;
}

.proceso-filtro .card-title h5 {
    margin: 0;
	text-align: center;
	padding-top: 8px;
	width: 241px;
	height: 30px;
	font-size: 12px;
	background: #6CC5B2;
	color: white;
	border-radius: 10px;
}

.finalizados-filtro .card-title h5 {
    margin: 0;
	text-align: center;
	padding-top: 8px;
	width: 241px;
	height: 30px;
	font-size: 12px;
	background: #F5D344;
	color: white;
	border-radius: 10px;
}

.contenido-vacio-tecnico {
    margin-top: 52%;
	margin-left: 23%;
	opacity: 0.8;
}


.contenedor-mensaje {
	width: 600px;
	height: 50%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	transition: transform 1s;
	transform: translateY(-200%);
}

.cerrar-mensaje-tecnico {
	margin-left: 90%;
	margin-top: 9px;
	font-size: 16px;
	padding-top: 3px;
	height: 26px;
	width: 26px;
	text-align: center;
	background-color: #006e95;
	color: #fff;
	border-radius: 100%;
	cursor: pointer;
}

.cerrar-mensaje-tecnico:hover {
	background: #e52141;
}