.container-tecnico {
	width: 100%;
	min-width: 850px;
	max-width: 950px;
	max-height: 500px;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 30px;
}

.columna-tecnico{
    width: 285px;
	height: 450px;
	border-radius: 7px;
	align-items: center;
	background: linear-gradient(
		to bottom right,
		#f6f8fa,
		#f6f8fa,
		#f6f8fa,
		rgb(250, 255, 254)
	);
	box-shadow: 0 3px 5px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(20px);
	border: solid 1px #afafaa;
	overflow: hidden;
	overflow-y: scroll;
}

.card-tecnico {
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	width: 245px;
	margin-top: 12px;
	margin-bottom: 12px;
	background: rgba(255, 255, 255, 0.3);
	box-shadow: 0 3px 5px 0 rgba(31, 38, 135, 0.37);
    border: solid 2px #eaf7ff;
	backdrop-filter: blur(4px);
	border-radius: 5px;
	cursor: pointer;
	transition: all 400ms ease;
}

.card-body-tecnico{
    padding: 8px;
	display: flex;
	justify-content: space-between;
	margin-left: 3px;
	margin-right: 3px;
	width: 235px;
}

.opciones-tecnico {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.opciones-tecnico button {
    cursor: pointer;
    font-size: 10px;
    width: 70px;
    padding: 0;
    padding-top: 0.2rem;
}

.opciones-tecnico .ver {
    margin-bottom: 5px;
	background-color: #eaf7ff;
	color: #26A2D9;
	border-radius: 5px;
	border: solid 1px #26A2D9;
}

.opciones-tecnico .ver:hover{
	background-color: #2bb9f7;	
	color: #fff;
}

.opciones-tecnico .atender {
	background-color: #eaf7ff;
	color: #F07D6F;
	border-radius: 5px;
	border: solid 1px #F07D6F;	
}

.opciones-tecnico .atender:hover {
	background-color: #F07D6F;
	color: #fff;
}

.opciones-tecnico .unirme, .finalizar{
	background-color: #eaf7ff;
	color: #365e55;
	border-radius: 5px;
	border: solid 1px #6CC5B2;	
}

.opciones-tecnico .unirme:hover, .finalizar:hover {
	background-color: #3a9c87;
	color: #fff;
}

.opciones-tecnico .reabrir, .reabrir-atendido {
	background-color: #eaf7ff;
	color: black;
	border-radius: 5px;
	border: solid 1px #F5D344;	
}

.opciones-tecnico .reabrir:hover, .reabrir-atendido:hover{
	background-color: #ccac2b;
	color: black;
}

.pendientes-filtro .fecha h5 {
	color: #f07d6f;
	font-size: 14px;
	margin: 0px;
}

.proceso-filtro .fecha h5 {
	color: #6CC5B2;
	font-size: 14px;
	margin: 0px;
}

.finalizados-filtro .fecha h5 {
	color: #F5D344;
	font-size: 14px;
	margin: 0px;
}

.pendientes-filtro .card-title h5 {
    margin: 0;
	text-align: center;
	padding-top: 8px;
	width: 241px;
	height: 30px;
	font-size: 12px;
	background: #f07d6f;
	color: white;
	border-radius: 10px;
}

.proceso-filtro .card-title h5 {
    margin: 0;
	text-align: center;
	padding-top: 8px;
	width: 241px;
	height: 30px;
	font-size: 12px;
	background: #6CC5B2;
	color: white;
	border-radius: 10px;
}

.finalizados-filtro .card-title h5 {
    margin: 0;
	text-align: center;
	padding-top: 8px;
	width: 241px;
	height: 30px;
	font-size: 12px;
	background: #F5D344;
	color: white;
	border-radius: 10px;
}

.contenido-vacio-tecnico {
    margin-top: 52%;
	margin-left: 23%;
	opacity: 0.8;
}


.contenedor-mensaje {
	min-width: 800px;
	min-height: 416px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	transition: transform 1s;
	transform: translateY(-200%);
	background-color: rgba(248, 244, 244, 0.3);
	box-shadow: 0 0px 40px 0 rgba(31, 38, 135, 0.37);
    border-left: solid 1px #616161;
	border-right: solid 1px #616161;
	border-bottom: solid 1px #616161;
	backdrop-filter: blur(4px);
}

.cerrar-ventana {
	position: absolute;
}

.cerrar-mensaje-tecnico {
	margin-left: 1417%;
	margin-bottom: 382px;
	font-size: 15px;
	padding-top: 0.295rem;
	height: 30px;
	width: 30px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 5px 0 rgba(31, 38, 135, 0.37);
	color: #fff;
	border-radius: 100%;
	cursor: pointer;
}

.cerrar-mensaje-tecnico:hover {
	background: #2e2e2e;
}

.mensaje-body {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.comentario-tecnico {
	height: 100%;
	width: 45%;
	background-color: #fff;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-top: solid 1px #616161;
}

.comentario-tecnico h1{
	font-size: 22px;
	width: 100%;
	height: 20%;
	text-align: center;
	padding-top: 13px;
	padding-bottom: 15px;
	color: #006E95;
}

.texto-comentario {
	display: flex;
	flex-direction: column;
	max-width: 250px;
}

.mensaje textarea {
	margin-top: 10px;
	background-color: rgba(255, 255, 255, 0.3);
	box-shadow: 0 3px 5px 0 rgba(31, 38, 135, 0.8);
    border: solid 2px #26A2D9;
	backdrop-filter: blur(4px);
	width: 90%;
	height: 100%;
	border-radius: 5px;
	color: #035775;
	padding: 10px;
}

.mensaje-comentario {
	min-width: 500px;
	display: flex;
	justify-content: space-between;
}

.respuestas-rapidas {
	width: 55%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.datos-reporte-comentario {
	width: 100%;
	min-height: 13%;
	background: linear-gradient(to right,#006E95,#006E95,#26A2D9,#006E95);
	border-radius: 10px;
	margin-bottom: 20px;
	border-top: solid 1px #616161;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.titulo-reporte-tecnico {
	font-size: 14px;
	color: #fff;
	margin: 0;
	max-width: 60%;
	margin-left: 10px;
	margin-right: 10px;
}

.folio-participantes {
	max-width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 10px;
	justify-content: center;
}

.folio {
	font-size: 13px;
	color: #fff;
	margin: 0;
}

.participantes {
	display: flex;
	justify-content: space-between;
}

.participante {
	font-size: 10px;
	background-color: #F5D344;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	padding-top: 4px;
	text-align: center;
	margin-top: 4px;
	cursor: pointer;
}

.participantes-texto {
	font-size: 11px;
	color: #fff;
	padding-top: 8px;
	padding-right: 4px;
}

.nombres-asignados {
	position: absolute;
	font-size: 10px;
	min-width: 120px;
	background-color: rgba(49, 48, 48, 0.5);
	color: #fff;
	border-radius: 10px;
	text-align: center;
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 5px;
	top: 50px;
    left: 673px;
}

.participantes figcaption {
	display: none;
}

.participantes:hover figcaption {
	display: block;
}

.mensaje textarea:focus {
	border-color: #035775;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 
	0 0 8px rgba(65, 12, 189, 0.6);
    outline: 0 none;
}

.mensaje button {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #006E95;
	border: solid 2px #5d6c8d;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	font-size: 13px;
	min-width: 10rem;
	min-height: 2.3rem;
}

.respuestas-rapidas button {
	text-align: left;
	background-color: #55BA7D;
	border: solid 2px #1e7051;
	color: #fff;
	border-radius: 7px;
	cursor: pointer;
	font-size: 13px;
	width: 24rem;
	min-height: 3rem;	
	transition: all 400ms ease;
	margin: 0;
	margin-bottom: 15px;
}

.mensaje button:hover {
	background-color: #035775;
}

.respuestas-rapidas button:hover {	
	background-color: #1e7051;
	transition: all 400ms ease;
	transform: translateY(-4%);

}
